* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: baseline;

    background-image: linear-gradient(45deg, navy, #b11a59);
    color: white;
    
    min-height: 50px;
    padding: 15px;
}

#navLinksSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navLinksSection > a {
    text-decoration: none;
    color: white;
}

#navLinksSection > a:hover {
    color: orange;
}

#siteTitle,
#navLinksSection > * {
    margin-right: 40px;
    text-align: center;
}

#siteTitle {
    border: 2px solid;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.currentPage {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#intro {
    background-image: linear-gradient(45deg, #7e4343, #464b66);
    color: white;
    font-size: 1.4em;
    padding: 20px;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
}

#intro > p {
    max-width: 1200px;
}

#paparazzi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paparazzi > h1 {
    font-size: 2.5em;
    margin: 20px;
}

.portraitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.portrait {
    border-radius: 100%;
    max-width: 300px;
    box-shadow: 0px 0px 20px #bbb;

    filter: grayscale();
}

.portraitLabel {
    margin-top: 10px;
}

#otherTeam {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 1.3em;
    }

    #siteTitle {
        margin: 0px;
    }

    #navLinksSection {
        margin-top: 20px;
    }

    #otherTeam {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 1.3em;
    }

    #siteTitle {
        margin: 0px;
    }

    #navLinksSection {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    #navLinksSection > * {
        margin: 0px;
    }

    #intro {
        font-size: 1.3em;
    }

    #otherTeam {
        flex-direction: column;
    }
}