@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Condensed&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed';
}

body {
    background-color: #efefef;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

nav {
    display: flex;
    align-items: baseline;

    background-image: linear-gradient(45deg, navy, #b11a59);
    color: white;
    
    min-height: 50px;
    padding: 15px;
}

.mono {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.8em;
    color: red;
    background-color: #eee;
    padding: 0px 5px;
    border-radius: 5px;
}

#navLinksSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navLinksSection > a {
    text-decoration: none;
    color: white;
}

#navLinksSection > a:hover {
    color: orange;
}

#siteTitle,
#navLinksSection > * {
    margin-right: 40px;
    text-align: center;
}

#siteTitle {
    border: 2px solid;
    padding: 5px;
    color: white;
    text-decoration: none;
}

#currentPage {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#intro {
    background-image: linear-gradient(45deg, #7e4343, #464b66);
    color: white;
    font-size: 1.4em;
    padding: 20px;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
}

#intro > p {
    max-width: 1200px;
}

#paparazzi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paparazzi > h1 {
    font-size: 2.5em;
    margin: 20px;
}

.portraitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.portrait {
    border-radius: 100%;
    max-width: 300px;
    box-shadow: 0px 0px 30px #ccc;

    filter: grayscale();
}

.portraitLabel {
    margin-top: 10px;
}

#otherTeam {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBox {
    width: 50%;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 15px;
    padding: 10px 5px;
    color: #282828;
    font-family: "JetBrains Mono", monospace;
}

#search > p {
    font-size: 1.5em;
    color: #888;
}

#errorsConsole {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 10px 50px;
}

.errorCard {
    background-image: linear-gradient(45deg, #ce0000, #ff4500);
    color: white;

    font-size: 1.3em;

    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;

    box-shadow: 0px 0px 15px #ccc;
}

#resultsCount {
    width: 250px;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.45em;
    border-radius: 5px;

    background-image: linear-gradient(45deg, green, yellowgreen);
    color: white;

    box-shadow: 0px 0px 15px #ccc;
}

#drampCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 50px;
}

.drampCard {
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px #bbb;
}

.otherActivity {
    background-image: linear-gradient(45deg, #282828 40%, #989898);
}

.antiGramPositive {
    background-image: linear-gradient(45deg, #500750 40%, #b446b4);
}

.antiGramNegative {
    background-image: linear-gradient(45deg, #770f0f 40%, red);
}

.bothActivities {
    background-image: linear-gradient(45deg, #500750 40%, red);
}

.peptideImage {
    width: 300px;
}

.drampLinks {
    margin-top: 5px;
}

.drampLink {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.drampLinkIcon {
    width: 16px;
    margin: 0px 5px;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 1.3em;
    }

    #siteTitle {
        margin: 0px;
    }

    #navLinksSection {
        margin-top: 20px;
    }

    #otherTeam {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 1.3em;
    }

    #siteTitle {
        margin: 0px;
    }

    #navLinksSection {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    #navLinksSection > * {
        margin: 0px;
    }

    #intro {
        font-size: 1.3em;
    }

    #otherTeam {
        flex-direction: column;
    }
}