.Transferase {background-image: linear-gradient(45deg, rgb(102,194,165) 40%, #ADEBD7);}
.Transport_protein {background-image: linear-gradient(45deg, rgb(8,69,148) 40%, #006FFF);}
.Cell_adhesion {background-image: linear-gradient(45deg, #719569 40%, rgb(204,235,197));}
.Protein_fibril {background-image: linear-gradient(45deg, #9E0142 40%, #FF569C);}
.Gene_regulation {background-image: linear-gradient(45deg, #AA7746 40%, #FDAE61);}
.Fimbrial_protein {background-image: linear-gradient(45deg, #7194B2 40%, #B3CDE3);}
.Protein_transport {background-image: linear-gradient(45deg, #4C7149 40%, #99D594);}
.Protein_binding {background-image: linear-gradient(45deg, #053061 40%, #0D60BF);}
.Hydrolase {background-image: linear-gradient(45deg, #535A6C 40%, #8DA0CB);}
.Structural_protein {background-image: linear-gradient(45deg, #A3A326 40%, #FFFF33);}
.Membrane_protein {background-image: linear-gradient(45deg, #763B34 40%, #FB8072);}
.Signaling_protein {background-image: linear-gradient(45deg, #4A6051 40%, #A1DAB4);}
.RNA_binding_protein {background-image: linear-gradient(45deg, #67417E 40%, #D188FF);}
.Metal_binding_protein {background-image: linear-gradient(45deg, #6D2B21 40%, #E34A33);}
.Immune_system_RNA {background-image: linear-gradient(45deg, #AA9F70 40%, #FFEDA0);}
.Sugar_binding_protein {background-image: linear-gradient(45deg, #566F2E 40%, #A6D854);}
.Signaling_protein_activator {background-image: linear-gradient(45deg, #A87C7F 40%, #FBB4B9);}
.Peptide_binding_protein {background-image: linear-gradient(45deg, #E41A1C 40%, #DD5354);}
.Toxin_inhibhitor {background-image: linear-gradient(45deg, #FF7F00 40%, #FFA64D);}
.Not_Available {background-image: linear-gradient(45deg, #282828 40%, #989898);}
.Calcium_binding_protein {background-image: linear-gradient(45deg, #175B8A 40%, #2C7FB8);}
.Ribosome {background-image: linear-gradient(45deg, #214520 40%, #4DAF4A);}
.DNA_binding_protein_toxin {background-image: linear-gradient(45deg, #FFDF00 40%, #FFED6F);}
.Chaperone_protein_transport {background-image: linear-gradient(45deg, #543005 40%, #CD7E20);}
.Transcriptional_regulator {background-image: linear-gradient(45deg, #AA5F3C 40%, #FC8D59);}
.Transcription {background-image: linear-gradient(45deg, #92E24A 40%, #B2DF8A);}